:root {
  --black: #000000;
  --white: #ffffff;
  --accent: #0077c0;

  --hero-font: 60px;
  --medium-font: 48px;
  --main-font: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main,
.social,
.benefits,
.tutorial {
  padding: 0 160px;
}

.main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0px;
}

.main header .logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.main header .logo p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
}

.main header .navbar .nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.main header .navbar .nav__links li > a {
  color: var(--black);
  font-size: var(--main-font);
  font-weight: 500;
}

a {
  text-decoration: none;
  font-size: var(--main-font);
}

button {
  background-color: var(--accent);
  padding: 3px 28px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.main .hero {
  display: flex;
}

.main .hero .left {
  display: block;
  margin-top: 144px;
}

.main .hero .left h1 {
  font-size: var(--hero-font);
  font-weight: 700;
  line-height: 75px;
  padding-bottom: 27px;
}

.main .hero .left h3 {
  font-size: var(--main-font);
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 32px;
}

.main .hero .right img {
  width: 560px;
  margin-top: 7.3vh;
  margin-left: 30px;
}

.social {
  margin: 96px 0;
}

.social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social .container img {
  max-height: 48px;
}

.benefits {
  background-color: var(--accent);
}

.benefits .container {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.benefits .container .heading {
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 80px;
}

.benefits .container .heading h3 {
  font-weight: 600;
  font-size: var(--main-font);
  letter-spacing: 3px;
}

.benefits .container .heading h2 {
  font-weight: 700;
  font-size: var(--medium-font);
  letter-spacing: -0.5px;
  text-align: center;
}

.benefits .container {
  padding-bottom: 133px;
}

.benefits .container .cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.benefits .container .cards .card i {
  font-size: 44px;
}

.benefits .container .cards .card .icon-bg {
  background-color: #c7eeff;
  border: none;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits .container .cards .card h2 {
  color: #fafafa;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  padding-top: 48px;
  text-align: left;
}

.benefits .container .cards .card h3 {
  color: #fafafa;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 16px;
  text-align: left;
}
